/*random fixed*/
.nH.adC {
	top: 0 !important;
	right: 0 !important;
}


.lde-button {
	display: block;
	border-radius: 3px;
}

.lde-logo-clickable {
	display: block;
	width: 100%;
	height: 100%;
}

.lde-logo-image {
	background: url('chrome-extension://__MSG_@@extension_id__/logo_engine@2x.png') no-repeat;
	display: block;
	width: 60%;
	height: 80px;
	margin: -5px auto auto;
	background-size: 95%;
	background-position: 15% 8%;
}

.lde-logo-container {
	background-color: #eee;
	display: block;	
	width: 92%;
	height: 100%;
	height: 40px;
	background-size: 100%;
	border: 1px solid #ccc;
	border-bottom: 0px;
}


.lde-email-result {
	padding: 5px 5px 0 5px;
	height: 90px;
	color: #666;
	cursor: pointer;
	border-bottom: 1px solid #D8D8D8;
	overflow: hidden;
}
.lde-email-result:hover {
	background: #F4F8E7;
}

.active-snippet {
	background-color: #f4f8e7;
}

/*
.lde-email-result:hover {
	background-color: #f4f8e7
}
*/

/**
 * Header containing the sender and the date of the email in
 * email result.
 */
.lde-header {
	overflow: auto;	
}

/**
 * Name of the sender of the email.
 */
.lde-sender {
	float: left;
	font-size: 75%;
	font-weight: bold;
}

.lde-serviceIcon {
	float: left;
	margin-left: 10px;
}

/**
 * Date the email was sent.
 */
.lde-date {
	font-size: 80%;
	float:right;
	margin-right: 25px;
}
/**
 *	Search styles
 */ 
.lde-search {
	background-color: #ccc;
	height: 60px;
	width: 92%;	
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.lde-search-box {
	margin: 10px auto 0px 25px;
	width: 60%;
}

.lde-mag-glass {
	background: url('chrome-extension://__MSG_@@extension_id__/search_glass.png') no-repeat center;
	position: absolute;
	width: 30px;
	height: 25px;
	margin: 10px 0 0 0;
	right: 25px;
}

input[type="text"] {
    border: 1px solid #FFFFFF;
    font-size: 10px;
    padding: 5px;
}

.lde-links-account {
	background-color: #ccc;
	font-size: 10px;
	width: 92%;
	text-align: right;
	padding-bottom: 5px;
	margin-left: 110px;
}

.lde-links-mailto {
	background-color: #ccc;
	font-size: 10px;
	width: 92%;
	text-align: left;
	padding-bottom: 5px;
	margin-left: 0px;
}

.lde-search-info {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 14px;
	font-style: italic;
	height: 20px;
}

/**
 * Text contained within the email body.
 */
.lde-text {
	font-size: 80%;
	padding-top: 10px;
	word-break: break-all;
}

/**
 * no message snippets styles
 */
.lde-noSnippets-message {
	color: #8A8A8A;
	margin: 250px auto 0;
	font-size: 1.1em;
	text-align: center;
	width: 175px;
}

/**
 * unauthenticated styles.
 */
.lde-unauthenticated span {
	display: block;
	margin-bottom: 8px;
}

.lde-unauth-name {
	font: 1.2em Helvetica, Arial, "sans-serif";
}
.lde-unauth-email {
	font: .8em Helvetica, Arial, "sans-serif";
	font-weight: lighter;
}
.lde-unauth-login-picture-container {
	position: relative;
	overflow: auto;
}

.lde-unauth-image {
	width: 85px;
	height: 85px;
	margin-right: 10px;
	display: block;
	float: left;
	background-size: 100%;
	background-image: url('chrome-extension://__MSG_@@extension_id__/image_anonymousLarge@2x.png');

}
.lde-unauth-login-prompt-container {
	float: left;
	text-align: center;
	width: 225px;
}

.lde-unauthenticated p {
	font: bold .75em Helvetica, Arial, "sans-serif";
	margin: 0;
}
.lde-unauthenticated a {
	margin-top: 5px;
	color: white;
	display: inline-block;
	padding: 3px 40px;
	text-decoration: none;
	border-radius: 3px;
}

/**
 * no response styles
 */
.lde-no-response {
	position: absolute;
	top: 275px;
	width: 200px;
	margin: 0 auto;
	color: #777;
	font-size: 1.1em;
	text-align: center;
}

/**
 * sender info styles.
 */
.lde-senderInfo {
	padding: 0 8px;
}
.lde-senderInfo-name {
	font: 1.2em Helvetica, Arial, "sans-serif";
	margin-bottom: 10px;
}
.lde-senderInfo-email {
	font: .8em Helvetica, Arial, "sans-serif";
	font-weight: lighter;
	margin-bottom: 10px;
}


/**
 * popup styles.
 */
#lde-popup {
	box-shadow: 0 0 7px #888;
	width: 600px;
	height: 350px;
	padding: 12px;
	padding-bottom: 30px;
	padding-right: 17px;
	border: solid 1px #999;
	color: #222;
	position: absolute;
	background:white;
	z-index: 1001;
	right:285px;
	top: 100px;
	background-color: #CCF59F
}

.lde-popup-subject {
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 6px;
	border-bottom: solid 1px #888;
	margin-bottom: 10px;
}

.lde-popup-msg-header {
	padding-top:5px;
	overflow: visible;
	margin-bottom: 25px;
}
.lde-popup-sender-name {
	font-size: 14px;
	line-height: 14px;
	box-shadow: 0 0 1px #777;
	padding-right: 3px;
	padding-left: 3px;
	font-weight: bold;
	float: left;
	margin-right: 10px;
}

.lde-popup-recieved-name {
	font-size: 14px;
	line-height: 14px;
	font-weight: bold;
	box-shadow: 0 0 1px #777;
	padding-right: 3px;
	padding-left: 3px;
	float: left;
	margin-right: 10px;
}

.lde-popup-recieved-email {
	line-height: 14px;
	font-size: 12px;
	float: left;
}

.lde-popup-recieved-hint {
	font-size: 10px;
	line-height: 17px;
	float: left;
	text-indent: 5px;
	font-style: italic;
}

.lde-popup-sender-email {
	line-height: 14px;
	font-size: 12px;
	float: left;
}

.lde-popup-date {
	font-size: 12px;
	float: right;
	margin-right: 40px;
	line-height: 14px;
}

.lde-popup-msg-text {
	box-shadow: 0 0 5px #444;
	line-height: 180%;
	padding-right: 2%;
	padding-left: 1%;
	/*padding-left: 7%;*/
	font-size: 12px;
	height: 70%;
	width: 585px;
	overflow: auto;
	clear: both;
	background-color: #ffffff;
}

.lde-popup-msg-showoriginal {
	font-size: 10px;
	position: absolute;
	right: 10px;
	margin: 7px;
}

.lde-header-color {
		top: 0px;
	left: 0px;
	z-index: -1;
}
/**
 *  Container containing individual snippet containing the sidebar UI,
 *  namely the list of email snippets.
 */
#ldengine {
	background: inherit;
	width: 260px;
	padding: 10px 0px 0;
	right:0;
	overflow: hidden;
	margin-top: 0;
	margin-left: -15px;
}

#lde-msg-mask {
	background:#999;
	width:97.1%;
	height:100%;
	opacity:.3;
	position:absolute;
	top:0px;
	left:0px;
	z-index:1000	
}

@media all and (max-width: 1200px) {
	#lde-popup {
		right:265px;
	}
}

@media all and (max-width: 920px) {
	#lde-popup {
		left:1%;
	}
}

.lde-popup-arrow {
	position: absolute;
	right: -29px;
	top: 40px;
}

.lde-popup-content {
	display: none;
}

.lde-ajax-spinner {
	position: absolute;
	top: 300px;
	left: 100px;
	width: 32px;
	height: 32px;
	margin-top: -16px; /* Half the height */
	margin-left: -16px; /* Half the width */
	background-image:url('chrome-extension://__MSG_@@extension_id__/ajax-loader.gif');
	background-repeat: no-repeat;
}

.lde-popup-close-button {
	width: 22px;
	height: 20px;
	background-image:url('chrome-extension://__MSG_@@extension_id__/icon_close.gif');	
	background-position: -1px 0;
	position: absolute;
	top: 15px;
	right: 15px;
	cursor: pointer;
}

.lde-popup-sender-thumbnail img {
	width: 25px;
	height: 25px;
	float:left;
	margin-right: 5px;
	margin-top: -5px;
}

.lde-keyword {
	background-color: #BDE249;
}

.u5 {
	padding-left: 0px;
}

.lde-progress-bar {
  padding-top: 8px;
  padding-bottom: 8px;
/*border-bottom: 1px solid #D8D8D8;*/
  padding: 10px 8px 0px;
}

.lde-progress-row {
    height: 50px;
}

.lde-progress-container {
    border: 1px solid #8f9287;
    float: left;
    width: 80%;
    height: 16px;
}

.lde-progress-status {
    background: #a7cf3e; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E3Y2YzZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhNGM0NDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #a7cf3e 0%, #a4c441 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a7cf3e), color-stop(100%,#a4c441)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a7cf3e 0%,#a4c441 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a7cf3e 0%,#a4c441 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a7cf3e 0%,#a4c441 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a7cf3e 0%,#a4c441 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cf3e', endColorstr='#a4c441',GradientType=0 ); /* IE6-8 */
    width: 80%;
    height: 100%;
}

.lde-progress-value {
	font-size: 80%;
    float: right;
    width: 17%;
    text-align: center;
	color: #666;
}

.lde-indexing-inbox {
  font-size: 18px;
  font-weight: bold;
	color: #666;
  margin-bottom: 16px;
  margin-top: 6px;
}

/**
 *  related emails styles
 */
.lde-related-emails {
	height: auto;
	overflow: auto;
}

.lde-clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.lde-clearfix {
    /*display: inline-block;*/
}
 
html[xmlns] .lde-clearfix {
    display: block;
}
 
* html .lde-clearfix {
    height: 1%;
}

.oM {
	display: none;
}

/************* GMAIL-SCROLLBAR CSS *************/
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #FFF;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);
}
::-webkit-scrollbar-thumb {
    background: #CCC;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
}
::-webkit-scrollbar-thumb:hover {
    background: #AAA;
}
::-webkit-scrollbar-thumb:active {
    background: #888;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
}

/*****depreceated?*****/

/* Green gradient */
.lde-gradient {
	background: #cdeb8e; /* Old browsers */
	background: -moz-linear-gradient(top, #cdeb8e 0%, #a5c956 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(100%,#a5c956)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* IE10+ */
	background: linear-gradient(to bottom, #cdeb8e 0%,#a5c956 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 ); /* IE6-9 */
}

