<div class="lde-logo-container">
	<div class="lde-logo-image">
		<a class="lde-logo-clickable" href='http:/apps.ldengine.com/accounts'></a>
	</div>
</div>
<div class="lde-search">
	<form>
		<input class="lde-search-box" name="field" type="text" placeholder="some text" />
		<input class="lde-mag-glass" name="submit" type="submit" />
	</form>
</div>
<div class="lde-help"><a href=''> Support </a></div>
<div class="lde-search-info">Related to Thread:</div>
