<div class="lde-logo-container">
	<div class="lde-logo-image">
		<a class="lde-logo-clickable" href='http:/apps.ldengine.com/accounts'></a>
	</div>
</div>
<div class="lde-search">
	<form id='search_field'>
		<input class="lde-search-box" name="field" type="text" placeholder="Enter query here!" />
		<input class="lde-mag-glass" name="submit" type="button" onclick="{{:xhr_request}}"  value=""/>
	</form>
	<a href='' class="lde-help"> Support </a>	
</div>
<div class="lde-search-info">Related to Thread:</div>
