
<!-- 	<span class="lde-unauth-name">SOMENAME</span>
	<span class="lde-unauth-email">emails</span> -->
	<div class="lde-unauth-login-picture-container clearfix">
		<div class="lde-logo"></div>
		<div class="lde-unauth-login-prompt-container">
			<p>It appears that
			<p>you are not currently connected to LDEngine.</p>
			<a class="lde-unauth-button lde-gradient" href="{{:url}}" >Connect</a>
		</div>
	<div>
